In [1]:
import pandas as pd
from scipy.stats import skew, kurtosis
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Q9_b.csv', index_col=0)

In [3]:
df

            SP         WT
1   104.185353  28.762059
2   105.461264  30.466833
3   105.461264  30.193597
4   113.461264  30.632114
5   104.461264  29.889149
..         ...        ...
77  169.598513  16.132947
78  150.576579  37.923113
79  151.598513  15.769625
80  167.944460  39.423099
81  139.840817  34.948615

[81 rows x 2 columns]

In [8]:
skew_SP = skew(df['SP'])
kurtosis_SP = kurtosis(df['SP'])

In [9]:
print("Skewness:", skew_SP)
print("Kurtosis:", kurtosis_SP)

Skewness: 1.5814536794423764
Kurtosis: 2.7235214865269244

In [10]:
skew_WT = skew(df['WT'])
kurtosis_WT = kurtosis(df['WT'])

In [11]:
print("Skewness:", skew_WT)
print("Kurtosis:", kurtosis_WT)

Skewness: -0.6033099322115126
Kurtosis: 0.8194658792266849