In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
df = pd.read_csv("Q7.csv", index_col=0)

In [25]:
df

                     Points  Score  Weigh
Mazda RX4              3.90  2.620  16.46
Mazda RX4 Wag          3.90  2.875  17.02
Datsun 710             3.85  2.320  18.61
Hornet 4 Drive         3.08  3.215  19.44
Hornet Sportabout      3.15  3.440  17.02
Valiant                2.76  3.460  20.22
Duster 360             3.21  3.570  15.84
Merc 240D              3.69  3.190  20.00
Merc 230               3.92  3.150  22.90
Merc 280               3.92  3.440  18.30
Merc 280C              3.92  3.440  18.90
Merc 450SE             3.07  4.070  17.40
Merc 450SL             3.07  3.730  17.60
Merc 450SLC            3.07  3.780  18.00
Cadillac Fleetwood     2.93  5.250  17.98
Lincoln Continental    3.00  5.424  17.82
Chrysler Imperial      3.23  5.345  17.42
Fiat 128               4.08  2.200  19.47
Honda Civic            4.93  1.615  18.52
Toyota Corolla         4.22  1.835  19.90
Toyota Corona          3.70  2.465  20.01
Dodge Challenger       2.76  3.520  16.87
AMC Javelin            3.15  3.435  17.30
Camaro Z28             3.73  3.840  15.41
Pontiac Firebird       3.08  3.845  17.05
Fiat X1-9              4.08  1.935  18.90
Porsche 914-2          4.43  2.140  16.70
Lotus Europa           3.77  1.513  16.90
Ford Pantera L         4.22  3.170  14.50
Ferrari Dino           3.62  2.770  15.50
Maserati Bora          3.54  3.570  14.60
Volvo 142E             4.11  2.780  18.60

In [26]:
df['Points'].mean()

3.5965625

In [27]:
df['Points'].median()

3.6950000000000003

In [28]:
df['Points'].var()

0.28588135080645166

In [29]:
df['Points'].mode()

0    3.07
1    3.92
Name: Points, dtype: float64

In [30]:
df['Points'].std()

0.5346787360709716

In [31]:
print("[",df['Points'].min(),",",df['Points'].max(),"]")

[ 2.76 , 4.93 ]

In [32]:
np.ptp(df['Points'])

2.17

In [33]:
df['Score'].mean()

3.2172500000000004

In [34]:
df['Score'].median()

3.325

In [35]:
df['Score'].mode()

0    3.44
Name: Score, dtype: float64

In [36]:
df['Score'].var()

0.9573789677419356

In [37]:
df['Score'].std()

0.9784574429896967

In [38]:
print("[",df['Score'].min(),",",df['Score'].max(),"]")

[ 1.513 , 5.424 ]

In [39]:
np.ptp(df['Score'])

3.9110000000000005

In [40]:
df['Weigh'].mean()

17.848750000000003

In [41]:
df['Weigh'].median()

17.71

In [42]:
df['Weigh'].mode()

0    17.02
1    18.90
Name: Weigh, dtype: float64

In [43]:
df['Weigh'].var()

3.193166129032258

In [44]:
df['Weigh'].std()

1.7869432360968431

In [45]:
print("[",df['Weigh'].min(),",",df['Weigh'].max(),"]")

[ 14.5 , 22.9 ]

In [46]:
np.ptp(df['Weigh'])

8.399999999999999

In [ ]:
# Mean: The average value for Points, Score, and Weight are around 3.59, 3.21, and 17.84 respectively.
# Median: The median for Points, Score, and Weight is close to the mean for each variable, indicating that the distributions are approximately symmetric.
# Mode: Points have a mode of 3.07,3.92 meaning this value occurs most frequently.
# Score have a mode of 3.44, meaning this value occurs most frequently.
# Weigh have a mode of 17.02,18.90, meaning this value occurs most frequently.
# Range: Weight has the highest range, indicating a wider spread of values compared to Points and Score.
# Variance and Standard Deviation: Points have the smallest variability, with lower variance and standard deviation compared to Score and Weight.

In [ ]:
# Median: The median for Points, Score, and Weight is close to the mean for each variable, indicating that the distributions are approximately symmetric.

In [ ]:
# Mode: Points have a mode of 3.07,3.92 meaning this value occurs most frequently.
# Score have a mode of 3.44, meaning this value occurs most frequently.
# Weigh have a mode of 17.02,18.90, meaning this value occurs most frequently.

In [ ]:
# Range: Weight has the highest range, indicating a wider spread of values compared to Points and Score.

In [ ]:
# Variance and Standard Deviation: Points have the smallest variability, with lower variance and standard deviation compared to Score and Weight.